body{
    background-color: black;
    background-image: url(Images/background.jpeg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    font-family: "Poppins", sans-serif;
}
  h1 {
    color: black;
    text-align: center;
    position: relative;
    top: 5%;
  }

  .center{
    position: absolute;
    top: 35%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 400px;
    height:350px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  }
  .mainpage{
    position: fixed;
    width: 120px;
    height: auto;
  }
  .member {
    position: relative;
      font-weight: bold;
      top: 180px;
      text-align: center;
      color: rgb(63, 63, 63);
  }
.pass{
  position: relative;
  text-align: center;
  font-weight: bold;
  top: 210px;
  color: rgb(63, 63, 63);
}
input[type=username] {
  position: relative;
  top: 25px;
  box-sizing: border-box;
  border: 0px solid rgba(204, 204, 204, 0);
  border-width: 1px ;
  border-bottom: darkblue;
  font-size: 20px;
  border-style: solid;
}
input[type=username]:focus{
  outline: none;
  border-width: 1px ;
  font-size: 20px;
  border-bottom: darkblue;
  border-style: solid;
  background-color: rgb(221, 221, 221);
}

input[type=password] {
  position: relative;
  top: 50px;
  box-sizing: border-box;
  border: 0px solid rgba(204, 204, 204, 0);
  border-width: 1px ;
  border-bottom: darkblue;
  border-style: solid;
  font-size: 20px;
}
input[type=password]:focus{
  outline: none;
  border-width: 1px ;
  font-size: 20px;
  border-bottom: darkblue;
  border-style: solid;
  background-color: rgb(221, 221, 221);
}

.txt_field {
  position: relative;
  text-align: center;
  position: relative;
  top: 30px;
}

.twitter {
  width: 30px;
height: auto;
position: fixed;
right:50px;
bottom: 4px;
}
.twitch {
  width: 30px;
height: auto;
position: fixed;
right:90px;
bottom: 4px;
}
.youtube {
  width: 30px;
height: auto;
position: fixed;          
right:130px;
bottom: 4px;
}
.instagram {
  width: 30px;
height: auto;
position: fixed;
right:10px;
bottom: 4px;
}
.logo{
height: 48px;
  width: auto;
  position: relative;
  top: -12px;
}
head{
  font-family: "Poppins", sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}
.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 20px;
}
li a:hover{
  color: blue;
}
.header .active{
  background-color: rgba(128, 128, 128, 0.199);
}

.btn {
  width: 150px;
  height: 40px;
  border: 2px solid darkblue;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
  top: 90px;
  left: 120px;
}

.btn::before, .btn::after {
  position: absolute;
  background: white;
  z-index: -1;
  transition: 1s;
  content: '';
}
.btn::before {
  height: 40px;
  width: 130px;
}

.btn::after {
  width: 150px;
  height: 30px;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.btn:hover::before {
  width: 0px;
  background: rgb(221, 221, 221);
}

.btn:hover::after {
  height: 0px;
  background: rgb(221, 221, 221);
}

.btn:hover {
  background: rgb(221, 221, 221);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}